<div class="container">
  <div class="row">

  <div ui-view>
    {{ post }}
  </div>
  <!-- Comments -->
    <div class="col-xs-6">
      <div ui-view="recentComments"></div>
    </div>

    <!-- Posts -->
    <div class="col-xs-6">
      <div ui-view="postsIndexPanel"></div>
    </div>

  </div>
</div>