<%= content_for :angular_app do %>
  ng-app="app"
<% end %>

<!-- links to your routes -->
<a ui-sref="posts">Posts</a>
<!-- <a ui-sref="route2">Clicking this fills ui-view with route2</a> -->

<div ui-view></div>
