<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">Full Stack Bulletin Board</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
  <div ui-view="recent-comments"></div>


  </div>


  <div class="col-md-7">
    <div ui-view></div>


  </div>



</div>