<%= content_for(:angular_app) do %>
  ng-app="app"
<% end %>

<div class="row">
	<div class="col-md-4">
		<div ui-view="recentComments"></div>
	</div>
	<div class="col-md-8">
		<div ui-view="content"></div>
	</div>
</div>
