<%= content_for :angular do %>
  ng-app="myApp"
<% end %>

<div class="row">
<h1>Full Stack Bulletin Board</h1>

  <div class="col-md-4">
    <div ui-view="recent-comments"></div>
  </div>

  <div class="col-md-8">
    <ui-view></ui-view>
  </div>
</div>
