<div class="container">
  <h1>Welcome To The Bulletin Board</h1>
  <div class="row">
    <div class="col-md-4">
      <div ui-view="recentComments"></div>
    </div>
    <div class="col-md-8">
      <div ui-view="postForm"></div>
      <div ui-view="postsIndex" class="text-center"></div>
    </div>
  </div>
</div>
