<form name="newPost">
  <label>Title</label><br>
  <input type="text" ng-model="newPost.title"><br>
  <label>User</label><br>
  <input type="text" ng-model="newPost.user"><br>
  <label>Body</label><br>
  <textarea ng-model="newPost.body"></textarea><br>

  <button ng-click="addPost()">Create Post</button>

</form>
<hr>


<div ng-repeat="post in posts | orderBy : '-created_at'">
  <h4><a ui-sref="posts.show({id: post.id})">{{post.title}}</a></h4>
  <p>by <b>{{post.user}}</b> on {{post.created_at}}</p>
  <p>{{post.body}}</p>
  <br>
</div>
