<h3 class="text-center"><strong>Recent Comments</strong></h3>
<div class="panel panel-default">
  <div class="panel-body">
    <div ng-repeat="comment in comments | orderBy: '-updated_at' | limitTo : 10">
      <h3>
        <a href="" ng-click="comment.upvote()">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </a>
        {{ comment.score }}
        <a href="" ng-click="comment.downvote()">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </a>
        <span class="text-muted">{{ comment.author }}</span>
      </h3>
      <p class="text-muted">Commneted at: {{ comment.created_at | date }}</p>
      <p>
        {{ comment.body }}
      </p>
    </div>
  </div>
</div>
