<h2>Post</h2>

<h1>{{ post.title }}</h1>
<p>Posted on {{ post.created_at }} by {{ post.author }}</p>
<p>{{ post.body }}</p>


<form ng-submit="createComment()">
  <label>
    Author
    <input type='text' ng-model='commentForm.author'>
  </label><br>

  <label>
    Comment
    <input type='text' ng-model='commentForm.body'>
  </label><br>

  <button type='submit'>Submit</button>
</form><br><br>

<div ng-repeat="comment in post.comments | orderBy: '-score'">
  <p>
    <span ng-click="vote(comment, 1)" class="glyphicon glyphicon-arrow-up"></span>
    <span ng-click="vote(comment, -1)" class="glyphicon glyphicon-arrow-down"></span>
    <span>{{comment.score}}</span> |
    <span>{{comment.author}}</span>
  </p>
  <small>Commented on {{comment.created_at | date}}</small>
  <p>{{comment.body}}</p><hr>
</div>
