// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
  margin-top: 10px;
}
input {
  margin-top: 10px;
}
textarea {
  margin-top: 10px;
}
label {
  margin-top: 18px;
}